.whole {
    background-color: #dfe8f5;
    height: 100vh;
}
.wholesign {
    background-color: #dfe8f5;
    height: 140vh;
}

.col-md-8 {
    margin: auto;
}
.about h1 {
    text-align: center;
}
.home {
    min-height: 100vh;
}
.main {
    padding-bottom: 2.5rem;
}


.mainhead img {
    border-top: 2px solid #a6a6a6;
    border-bottom: 2px solid #a6a6a6;
    display: block;
    width: 100%;
}

#footer {
    text-align: center;
    color: #2e2e2e;
    font-size: 1em;
    height: 3em;
    position: relative;
    bottom: 50;
    align-self: center;
    
 }
 #footerhome {
    text-align: center;
    color: #2e2e2e;
    font-size: 1em;
    height: 3em;
    position: relative;
    top:40em;
    align-self: center; 
 }
 #footerabout, #footerlog {
    text-align: center;
    color: #2e2e2e;
    font-size: 1em;
    height: 3em;
    position: relative;
    top:15em;
    align-self: center; 
 }

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2 {
    text-align: center;
}
.buton {
    text-align: center;
} 
.text {
    margin-left: 10em;
    margin-right: 10em;
    font-size: 25px;
}
.mainhead h1 {
    position: absolute;
    display: block;
    color: white;
    top: 13em;
    left: 4em;
}
.mainhead h2 {
    position: absolute;
    display: block;
    color: #2e2e2e;
    top: 22em;
    left: 18em;
}
.news1 > h4 {
    position: absolute;
    display: block;
    color: black;
    top: 32em;
    left: 15em;
    text-align: center;
}

.news1 > p {
    position: absolute;
    display: block;
    color: #404040;
    top: 51.5em;
    left: 22.5em;
    text-align: left;
    margin-right: 4em;
}
  
.news2 > h4 {
    position: absolute;
    display: block;
    color: black;
    top: 44em;
    left: 15em;
    text-align: center;
}
.news2 > p {
    position: absolute;
    display: block;
    color: #404040;
    top: 70em;
    left: 22.5em;
    text-align: left;
    margin-right: 4em;
}
.news1 > a > img {
    position: absolute;
    display: block;
    width: 21%;
    height: 243px;
    top: 47em;
    left: 3em;
}
  
.news2 > a > img {
    position: absolute;
    display: block;
    width: 21%;
    height: 243px;
    top: 65em;
    left: 3em;
}

